* {
  box-sizing: border-box;
}

html, body, #menu, #contents, #contents-iframe {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #DDD;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

hr {
  border-color: gray;
}

#menu {
  display: inline-block;
  width: 15%;
  padding: 10px;
}

#contents {
  display: inline-block;
  width: 84%;
  max-width: 1000px;
  vertical-align: top;
  padding: 10px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#menu-iframe {
  padding: 10px;
}


body {
  background-color: #111;
}

h1 {
  font-size: 1.65rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h3 {
  font-style: italic;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  color: #ADF;
}
a:hover {
  text-decoration: underline;
}

table, td {
  border: 2px solid gray;
  padding: 5px; 
}

td {
  background-color: #222;
}

li {
  list-style: square;
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
}